* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h5 {
	margin: 0 0 5px 0;
}
h4 {
	margin-top: 20px;
}
h3 {
	margin: 0;
}

.box {
	background-color: #222;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
}

#threads {
	position: absolute;
	width: 30%;
	top: 10px;
	right: 10px;
	bottom: 220px;
}
#threads ul {
	margin: 0;
}
#threads ul ul {
	margin-left: 35px;
}
#threads li {
	list-style: none;
}

#frame {
	position: absolute;
	top: 10px;
	left: 32%;
	right: 32%;
	bottom: 220px;
}

#frame #localVariables th, #frame #stack th {
	background-color: #333;
}
#frame #localVariables, #frame #localVariables td, #frame #localVariables th,
#frame #stack, #frame #stack td, #frame #stack th {
	padding: 10px;
	font-size: 1.2em;
	border: 5px solid #444;
	min-width: 20px;
	text-align: center;
}
#frame #stack {
	margin-top: 10px;
	width: 100%;
}

#console {
	overflow: auto;
	position: absolute;
	bottom: 10px;
	height: 200px;
	right: 10px;
	left: 32%;
}
#console ul {
	margin: 0;
	clear: right;
}
#console li {
	list-style: none;
}
#console .btn-toolbar {
	margin: 0;
	float: right;
}
#console h5 {
	float: left;
	margin: 0;
}

#classes {
	height: 100%;
	overflow: auto;

	height: 90%;
	height: -moz-calc(100% - 137px);
	height: -webkit-calc(100% - 137px);
	height: calc(100% - 137px);
}
#classes li {
	list-style: none;
	white-space: nowrap;
}
#classes small {
	display: block;
}
#classes ul {
	margin: 0;
}
#classes > ul > li {
	margin-bottom: 10px;
}
#classes ul ul ul li {
	margin-left: 20px;
}
#classes li.constructor {
	margin-top: 5px;
}
#classes li.constructor.first {
	margin-top: 10px;
}
#classes li.method {
	margin-top: 5px;
}
#classes li.method.first {
	margin-top: 10px;
}
#classes li.executing {
	background-color: #444;
}
#classes li.executing.return {
	background-color: #2b542c;
}

#program_run {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	width: 30%;
}
#program_run #arguments {
	width: 100%;
	height: 31px;
}

#program_define {
	border: 2px dashed #666;
	height: 50px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #222;
}
#program_define.dragging {
	background-color: #315E31;
	border: 2px dashed #264A26;
}
#program_define.dragging p {
	color: #264A26;
}
#program_define p {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #666;
}

#program_run .btn-toolbar {
	margin-top: 0;
}
#program_run .btn-group {
	float: right;
}
#program_run input[type="text"] {
	color: #FFF;
	background-color: #222;
	border: 1px solid #666;
}
#program_run input::-webkit-input-placeholder {
	color: #666;
}
#program_run input:-moz-placeholder {
	color: #666;
}​
